<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <header>New/Edit Post</header>
<p th:text = "${post}"></p>
    <form method = "post" th:action = "@{/edit}" th:object = "${formData}">
        <input th:type = "hidden" th:field = "*{id}">
        <input th:type = "hidden" th:name = "id" th:value = "${id}">
        Title : <input  th:type = "text" th:field = "*{title}" required>
        <br><br>
        Check the ones you want to delete :--
        <input th:type = "hidden" th:field = "*{tags}">
        <section th:each = "tag : ${formData.tags}" border = "2px solid black" >
            <input th:type = "checkbox" th:value = "${tag}"th:text = "${tag}" th:name = "tagsToDelete"></input>
        </section>
        Add tags :---
        <input th:type = "text" th:name = "allTags" >
        <br><br>
        Content : <textarea  th:name = "content" th:field = "*{content}" required></textarea>
        <br><br>
        <input th:type = "submit" th:value = "Publish">
    </form>
</body>
</html>