<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <style>
        body{
            margin: 20px;
            padding: 20px;
        }
        section{
            border: 2px solid black;
            border-radius: 25px;
            padding: 10px;
            margin: 10px;
        }
        a{
            color: black;
            text-decoration: none;
        }
    </style>
</head>
<body>
<header>
    <span sec:authentication="name"></span>
    <nav id = "nav">
        <ul type = "none">
            <li>My Blog Application</li>
            <a href="/logout">logout</a>
            <li>
                <form method = "get" th:action = "@{/{page}(page = ${page})}+'/process'" >
<!--                    <input th:type = "hidden" th:name = "page" th:value = "${page}">-->
                    <div th:if = "${search == null}" >
                        <input th:type = "search" th:name = "search" >
                    </div>
                    <div th:unless = "${search == null}">
                        <input th:type = "search" th:name = "search" th:value = "${search}">
                    </div>

                    <div th:if = "${fromDate == null}">
                        From published date: <input type = "date" th:name = "fromDate" >
                    </div>
                    <div th:unless = "${fromDate == null}">
                        From published date: <input type = "date" th:name = "fromDate" th:value = "${fromDate}">
                    </div>

                    <div th:if = "${toDate == null}">
                        To published date: <input type = "date" th:name = "toDate" >
                    </div>
                    <div th:unless = "${toDate == null}">
                        To published date: <input type = "date" th:name = "toDate" th:value = "${toDate}">
                    </div>

                    <section th:each = "tag : ${allTags}" border = "2px solid black">
                        <input th:type = "hidden" th:value = "${tag.id}">
                        <input th:type = "checkbox" th:value = "${tag.name}" th:text = "${tag.name}" th:name = "tagsToAdd">
                        <br><br>
                    </section>

                    <select th:name = "orderBy">
                        <option value = "none" selected disable hidden>Sort</option>
                        <option th:value = "DESC" >Descending</option>
                        <option th:value = "ASC" >Ascending</option>
                    </select>
                    <input type = "submit" value = "submit">
                </form>
            </li>
        </ul>
    </nav>
</header>
<div sec:authorize="hasAnyAuthority('AUTHOR', 'ADMIN')">
    <a th:href = "@{/newPost}" class="btn btn-info"> New Blog </a>
</div>
<section th:each = "post : ${listPosts}" border = "2px solid black">
    <a th:href = "@{/view/{id}(id = ${post.id})}" class="container-fluid">
    <article>
        <h1 th:text = "${post.title}"></h1>
        <h5><span th:text = "${post.author}"></span>,  <span th:text = "${post.createdAt}"></span></h5>
        <br><br>
        TAGS:----
        <div th:each = "tag : ${post.tags}">
            <pre th:text = "${tag.name}">  </pre>
        </div>
        <br>
        <p th:text = "${post.excerpt}"></p>
        <div sec:authorize="hasAnyAuthority('AUTHOR', 'ADMIN')" >
            <div th:if="${post.author == #authentication.getPrincipal().getUsername()}">
                <a th:href = "@{/edit/{id}(id = ${post.id})}" class="btn btn-secondary" >Edit</a>
                <a th:href = "@{/delete/{id}(id = ${post.id})}" class="btn btn-danger"
                    onclick = "if(!(confirm('Are you sure you want to delete this employee?'))) return false">Delete</a>
            </div>
            <div  th:unless="${post.author == #authentication.getPrincipal().getUsername()}"  sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href = "@{/edit/{id}(id = ${post.id})}" class="btn btn-secondary" >Edit</a>
                <a th:href = "@{/delete/{id}(id = ${post.id})}" class="btn btn-danger"
                   onclick = "if(!(confirm('Are you sure you want to delete this employee?'))) return false">Delete</a>
            </div>
        </div>
    </article>
    </a>
</section>
<footer>
    Total Items: [[${totalItems}]] : Page [[${page}]] of [[${totalPages}]]

    <span th:each = "i :${#numbers.sequence(1, totalPages)}">
        <a th:href = "@{'/' + ${i} + '/process?search=' + ${search} + '&toDate=' + ${toDate} + '&fromDate=' + ${fromDate} + '&orderBy=' + ${orderBy}}" >[[${i}]]</a>
    </span>
</footer>
</body>
</html>