<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <style>
        article{
            border: 2px solid black;
            border-radius: 25px;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <ul>
        <p>My Blog Application</p>
    </ul>
    <article>
        <h2 th:text = "${post.title}"></h2>
        <h5><span th:text = "${post.author}"></span>, <span th:text = "${post.createdAt}"></span></h5>
        <br><br>
<!--        <p th:text = "${post.tags}"></p>-->
<!--        <section th:each = "tag : ${post.tags}" border = "2px solid black">-->
<!--            <span th:text = "${tag.name}"></span>-->
<!--        </section>-->
<!--        <p th:text = "${post.stringOfAllTags()}">-->
<!--        <br><br>-->
        <p th:text = "${post.content}"></p>
    </article>
    <br><br><br><br><br>
<h2>COMMENTS:-----</h2>
    <section th:each = "comment : ${listComments}" border = "2px solid black">
<!--        <a th:href = "@{/view/{id}(id = ${post.id})}" class="container-fluid">-->
            <article>
                <h1 th:text = "${comment.name}"></h1>
                <h5><span th:text = "${comment.comment}"></span>, <span th:text = "${comment.createdAt}"></span></h5>
                <br>
                <p th:text = "${comment.email}"></p>
                <br>
                <p th:text = "${comment.createdAt}"></p>
                <div sec:authorize="hasAnyAuthority('USER','AUTHOR', 'ADMIN')" >
                    <div th:if="${comment.name == #authentication.getPrincipal().getUsername()}" >
                        <a th:href = "@{/editcomment/{id}(id = ${comment.id})}" class="btn btn-secondary" >Edit</a>
                        <a th:href = "@{/deletecomment/{id}(id = ${comment.id})}" class="btn btn-danger"
                           onclick = "if(!(confirm('Are you sure you want to delete this employee?'))) return false">Delete</a>
                    </div>
                    <div th:unless="${comment.name == #authentication.getPrincipal().getUsername()}" sec:authorize="hasAnyAuthority('ADMIN')" >
                        <a th:href = "@{/editcomment/{id}(id = ${comment.id})}" class="btn btn-secondary" >Edit</a>
                        <a th:href = "@{/deletecomment/{id}(id = ${comment.id})}" class="btn btn-danger"
                           onclick = "if(!(confirm('Are you sure you want to delete this employee?'))) return false">Delete</a>
                    </div>

                </div>
            </article>
<!--        </a>-->
    </section>
    <form method = "post" th:action = "@{/newComment/{id}(id = ${id})}" th:object = "${commentFormData}">
        <input type = "hidden" th:name = "id" th:field = "${post.id}" >
        comment: <textarea th:name="comment"  required></textarea>
        <input th:type = "submit"  th:value = "submit">
    </form>
</body>
</html>